// colors
$PYRWhite: #ffffff;
$PYRYellow: #f8ac59;
$PYRLightGray: #f3f3f4;
$PYRGray: #a7b1c2;
$PYYSemiLightGray: #e7eaec;
$PYRLightBlue: #23c6c8;
$PYRBlue: #1c84c6;
$PYRDarkBlue: #2f4050;
$PYRDarkBoldBlue: #293846;
$PYRGreen: #1ab394;
$PYRLightGreen: #1cc09f;
$PYRDarkGreen: #19aa8d;
$PYRRed: #ed5565;

$PYRFontGray: #676a6c;



$PYRGrayBackground: $PYRLightGray;


$PRYGrayFontNav: $PYRGray;
$PRYGreenActive: $PYRDarkGreen;
$PRYGrayFontNavActive: $PYRWhite;
$PRYBlueNav: $PYRDarkBlue;
$PRYBlueNavActive: $PYRDarkBoldBlue;
$PRYGreenNav: $PYRLightGreen;
$PRYGreenNavActive: $PYRGreen;

$PYRLabelGreen: $PYRGreen;
$PYRLabelBlue: $PYRLightBlue;
$PYRLabelYellow: $PYRYellow;
$PYRLabelWhite: $PYRWhite;
$PYRLabelWhiteFont: $PYRLightGreen;
$PYRLabelGray: $PYRLightGray;
$PYRLabelGrayBoder: $PYYSemiLightGray;



